<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/">首页</a></li>
            <li role="presentation"><a href="/reg">添加</a></li>

            <% if(title == '首页'){ %>
            <form action="/search" method="get">
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-2 searchIn">
                    <input type="text" class="form-control" id="firstname" name="keyword" placeholder="请输入关键字">
                </div>
                <a href="/search"><button  class="btn col-sm-1">搜索</button></a> <br>
            </div>
            </form>
            <% } %>
        </ul>




